---
layout: default

title: Schiphol
image: ./schiphol-group-logo.jpg
description: >
                Plane Sailing - Taking off with containers

talk1:
    title: Developing on Kubernetes
    presenter: Michael Hausenblas
    image: ./Michael.png

talk2:
    title: Building a scalable learning platform with Terraform, Kubernetes and Google Cloud
    presenter: Bas Tichelaar
    image: ./Bas.jpg
---

{% include welcome.html title=page.title description=page.description image=page.image %}

{% include talk.html title=page.talk1.title presenter=page.talk1.presenter image=page.talk1.image %}

{% include break.html %}

{% include talk.html title=page.talk2.title presenter=page.talk2.presenter image=page.talk2.image %}

<!-- Promo Page -->
<section>
    <h2>Promo Codes!</h2>
    <img class="logo-large" src="{{ site.baseurl }}/images/promo-example.jpg">
    <p>
        This is an example page for showing a <span class="promo">promotional discount</span>.
    </p>
</section>
